*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f6f8fc;
    /* background-color: gray; */
}

.content{
    width: 100vw;
    height: auto;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        height: 100%;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.content h1{
    margin: 0;
    padding-left: 1rem;
}

